@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');

@font-face {
    font-family: "ROGFonts";
    src: url(../webfonts/ROGFonts.otf);
}


/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* RWD不累加內距padding與邊框border */
}

/* 重置字體 */
body {
    height: 100%;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    color: white;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: "Noto Sans TC", sans-serif;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    /* max-width: 100%; */
}

/* 重置連接 */
a {
    /* 已知此網頁的a都"不是文字超連結"，因此先把a設定為區塊 */
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-family: "Noto Sans TC", sans-serif;
}
@media (max-width:640px) and (height > 0px), (width < 1025px) and (height > 769px) {
    a{font-size: 18px;
        letter-spacing: 0.08rem;}
}

:root {
    /* 主色調 */
    --Orange: #FEB75D;
    --Darkorange: #FC8D00;
    --Lightblue: #55C9EA;
    --Blue: #013B63;
    --Darkblue: #000E2B;
    --White: #ffffff;
    --Blue2: #287DA2;



    /* 輔色 */
    --Grayblue: #1e6695;

    /* 透明色 */
    --Lightblue_04: rgb(85, 201, 234, .4);
    --Darkblue_05: rgb(0, 14, 41, .5);
    --White_05:rgb(255, 255, 255, .5)

    /* 漸層色 */
    --White-White: rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .4) 100%;
    --White-White-2: rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, .4) 100%;
    --ToRight-White-Orange: #fff 0%, var(--Orange) 47%, var(--Darkorange) 90%;
    --ToRight-Lightblue-Darkbllue: var(--Lightblue) 5%, var(--Blue) 28%, var(--Darkblue) 61%;
    --Lightblue-White: var(--Lightblue) 0%, #fff 100%;
    --Darkblue-blue: var(--Blue) 0%, var(--Darkblue) 100%;
    --Blue-grayblue: var(--Grayblue) 0%, var(--Blue) 100%;
    --Orange-White: var(--Orange) 0%, #fff 100%;
    --Lightbluevar-Darkblue: var(--Lightblue)100%, var(--Darkblue)0%;
    --ToRight-Blue-Darkblue: var(--Darkblue) 0%, var(--Blue) 25%, var(--Blue2) 50%, var(--Blue) 75%, var(--Darkblue) 100%;
    --Lightblue-Lightblue: rgba(85, 201, 234), 50%, rgba(85, 201, 234, .0) 95%;
    --Orange-Darkblue: var(--Orange) 0%, rgba(0, 14, 43, .0) 80%;
    --Orange-Darkblue-2: var(--Orange) 0%, var(--Darkblue) 80%;
    --Orange-Lightblue-Orange: var(--Orange) 0%, var(--Lightblue_04) 50%, var(--Orange) 100%;
    --Blue-Darkblue: #287DA2 0%, var(--Blue) 40%, var(--Darkblue) 80%;
    --Blue-Darkblue-Blue: var(--Blue) 5%, var(--Darkblue) 55%, var(--Blue) 85%;
    --Darkblue-Blue: var(--Darkblue) 38%, var(--Blue) 100%;
}
input {
    color: #ffffff;
    font-size: 1.25vw;
    letter-spacing: 0.08rem;
}
input::placeholder{
    color:rgb(255, 255, 255, .5);
}
@media (width < 840px) {
    p {
        font-size: 18px;
    }
}
  /* 滾動條 */
  /* 滾動條底 */
  ::-webkit-scrollbar {
    background-color: var(--Darkblue);
  }
  /* 滾動條按鈕方框 */
  ::-webkit-scrollbar-button {
    background-color: var(--Orange);
    height: 10px;
  }
  ::-webkit-scrollbar-thumb{
    background-color:#FFFFFF
  }


/* fixed header區 */
#fixedTopbar {
    background-color: var(--Blue);
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 999;
    border-bottom: 1px solid white;
}

#fixedTopbar .topbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 80px;
}

#fixedTopbar #burger {
    display: none;
}

@media (max-width: 1080px) {
    #fixedTopbar .topbar {
        padding: 0px 40px;
    }
}

.topbar h1 {
    min-width: 129px;
}

.menuList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
}

.menuList h1 {
    width: 129px;
}

.menuItem ul {
    display: flex;
}

.menuItem ul li a {
    margin-left: 80px;
    font-size: 1.25vw;
    font-weight: 400;
    letter-spacing: 0.08rem;
}

.menuItem ul li a:hover {
    color: var(--Orange);
}

.menuItem ul li a:active {
    color: var(--Darkorange);
}

#fixedTopbar .menuList .rightList {
    display: flex;
    align-items: center;
    position: relative;
}

.cartBtn {
    width: 40px;
    height: 40px;
    background-image: url(../images/cartBtnICON.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.cartBtn:hover {
    transition: 0.5s;
    background-image: url(../images/cartBtnICON_1.svg);
}

.rightList .dropdown {
    margin-right: 20px;
    position: absolute;
    top: 0px;
    right: 44px;
}

.dropdown #RLbtn {
    position: relative;
    font-size: 1.25vw;
    font-weight: 400;
    text-indent: 1px;
    letter-spacing: 0.08rem;
}

.dropdown #RLbtn::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -2px;
    right: -2px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid transparent;
    border-image: linear-gradient(135deg, var(--Lightblue-White)) 1 round;
    transition: all .5s ease-in-out;
}

.dropdown #RLbtn:hover::after {
    transition: all 0.5s;
    border: 2px solid transparent;
    border-image: linear-gradient(135deg, var(--Orange-White)) 1 round;
}

.dropdown #RLbtn.show::after {
    height: 300%;
    transition: all 0.5s;
    border-image: linear-gradient(135deg, var(--Orange-White)) 1 round;
}

.dropdown a {
    width: 10vw;
    height: fit-content;
    text-align: center;
    padding: 8px;
    animation: rotate 3s linear infinite;
    font-size: 1.25vw;
    background-color: var(--Blue);
}

.dropdown #RLbtn:hover {
    transition: all 0.5s;
    color: var(--Orange);
}

#pricePlanBtn,
#customizeBtn {
    visibility: hidden;
    opacity: 0;
}

#pricePlanBtn.show,
#customizeBtn.show {
    visibility: visible;
    transition: all .35s ease-in-out;
    opacity: 1;
    letter-spacing: 2px;
}

#pricePlanBtn:hover {
    background-image: linear-gradient(90deg, var(--Blue-grayblue));
    color: var(--Orange);
}

#customizeBtn:hover {
    background-image: linear-gradient(-90deg, var(--Grayblue) 0%, var(--Blue) 100%);
    color: var(--Orange);
}

/* 以上fixedTopbar區 */

@media (max-width: 640px),  (width < 1025px) and (height > 769px){
    .menuItem ul li a {
        font-size: 18px;
        margin-left: 20px;
    }
    .dropdown #RLbtn,.dropdown a{
        font-size: 18px;
    }
    .dropdown a{
        width: 12vw;
    }
}

/* 各頁微調 */
/* --Darkblue底色 */
#fixedTopbar.blue,
#fixedTopbar.darkblue {
    border: none;
}

/* Customization_process頁面 */
#fixedTopbar.darkblue {
    background-color: var(--Darkblue);
    border: none;
}

.darkblue .dropdown a {
    background-color: var(--Darkblue);
}

.darkblue #pricePlanBtn:hover {
    background-image: linear-gradient(90deg, var(--Blue-Darkblue));
}

.darkblue #customizeBtn:hover {
    background-image: linear-gradient(-90deg, var(--Blue-Darkblue));

}

footer div img {
    width: 217px;
}

/* 10/1 sandy更改平板以下為漢堡選單 */
@media (max-width: 640px),  (width < 1025px) and (height > 769px) {

    .HLogo{
        width: 100%;
        margin: 30px 0 110px 0;
    }
    .HLogo img{
        width: 200px;
    }
    .HLogo a{
        display: flex;
        justify-content: center;
    }
    /* header */
    #fixedTopbar {
        border: none;
        background-color: transparent;
    }

    #fixedTopbar.darkblue {
        background-color: transparent;
    }

    #fixedTopbar .topbar {
        display: none;
    }

    #fixedTopbar #burger {
        display: block;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: .35s background-color ease;
    }

    .navbar.fillColor {
        background-color: var(--Darkblue);
    }

    .navbar .navbarBtn {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: end;
        padding-right: 30px;
    }

    .navbar .hamburger {
        background-color: transparent;
        border: none;
        width: 60px;
        height:60px ;
    }

    .hamburger span {
        display: block;
        /*span預設是inline,不支援寬高 */
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px auto;
        transition: 0.35s;
    }

    .hamburger.is-active span:nth-child(1) {
        transform: rotate(45deg) translateY(11px);
    }

    .hamburger.is-active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.is-active span:nth-child(3) {
        transform: rotate(-45deg) translateY(-12px);
    }

    .navigation {
        width: 100%;
        height: calc(100vh - 77px);
        padding-bottom: 20px;
        display: none;
        position: relative;
        flex-direction: column; /* 垂直排列 */
    justify-content: center; /* 垂直置中 */
    }
    .navigation a:hover{
        color: var(--Orange);
    }
    .navigation ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .bottomIcon {
        background-image: var(--Darkblue);
    }
    .bottomIcon.inNavbar {
        position: static;
    }
    .bottomIcon.inNavbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 80px;
        

    }

    .bottomIcon.inNavbar li {
        width: 48px;
        height: 48px;
        padding: 4px;
        margin: 0px 8px;
    }

    .navigation ul li {
        width: 50%;
        text-align: center;
        padding: 30px 0px;
    }
    @media (max-width:640px) and (height > 0px){
        .HLogo img {
            width: 150px;
        }
    }

    /* footer */
    footer {
        height: auto; /* 使用自適應高度 */
        padding: 20px 0px;
        flex-direction: column;
    }

    .footerList {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .footerList .footerItem {
        font-weight: 600;
        margin: 10px 0px;
        text-align: center;
        padding: 0;
    }

    .footerList .footerItem ul {
        font-weight: 300;
        text-align: center;
    }

    .footerList .footerItem li:first-child {
        padding-top: 8px;
    }

    footer div figure {
        width: 150px;
    }

    footer div figure img {
        width: 100%;
    }
}
@media (max-width:640px){
    .navigation ul li {
        padding: 15px 0px;
    }
    .HLogo{
        margin: 15px 0 95px 0;
    }
    .navbar .navbarBtn{
        padding-right: 0px;
    }
}


/* 商品瀏覽下單localsotrage用的資料 */
.svcA-1 {
    background-image: url(../images/productBrowsing_pbShapeA_1.png);
}

.svcA-1-back {
    background-image: url(../images/productBrowsing_pbShapeA_1_back.png);
}

.svcA-2 {
    background-image: url(../images/productBrowsing_pbShapeA_2.png);
}

.svcA-2-back {
    background-image: url(../images/productBrowsing_pbShapeA_2_back.png);
}

.svcA-3 {
    background-image: url(../images/productBrowsing_pbShapeA_3.png);
}

.svcA-3-back {
    background-image: url(../images/productBrowsing_pbShapeA_3_back.png);
}

.svcA-4 {
    background-image: url(../images/productBrowsing_pbShapeA_4.png);
}

.svcA-4-back {
    background-image: url(../images/productBrowsing_pbShapeA_4_back.png);
}

.svcA-5 {
    background-image: url(../images/productBrowsing_pbShapeA_5.png);
}

.svcA-5-back {
    background-image: url(../images/productBrowsing_pbShapeA_5_back.png);
}

.svcA-6 {
    background-image: url(../images/productBrowsing_pbShapeA_6.png);
}

.svcA-6-back {
    background-image: url(../images/productBrowsing_pbShapeA_6_back.png);
}

.svcA-7 {
    background-image: url(../images/productBrowsing_pbShapeA_7.png);
}

.svcA-7-back {
    background-image: url(../images/productBrowsing_pbShapeA_7_back.png);
}

.svcA-8 {
    background-image: url(../images/productBrowsing_pbShapeA_8.png);
}

.svcA-8-back {
    background-image: url(../images/productBrowsing_pbShapeA_8_back.png);
}

.svcB-1-1 {
    background-image: url(../images/productBrowsing_pbShapeB_1.png);
}

.svcB-1-2 {
    background-image: url(../images/productBrowsing_pbShapeB_2.png);
}

.svcB-1-3 {
    background-image: url(../images/productBrowsing_pbShapeB_1-1.png);
}

.svcB-1-4 {
    background-image: url(../images/productBrowsing_pbShapeB_2-2.png);
}

.svcB-2-1 {
    background-image: url(../images/productBrowsing_pbShapeB_3.png);
}

.svcB-2-2 {
    background-image: url(../images/productBrowsing_pbShapeB_4.png);
}

.svcB-2-3 {
    background-image: url(../images/productBrowsing_pbShapeB_3-1.png);
}

.svcB-2-4 {
    background-image: url(../images/productBrowsing_pbShapeB_4-1.png);
}

.svcB-3-1 {
    background-image: url(../images/productBrowsing_pbShapeB_5.png);
}

.svcB-3-2 {
    background-image: url(../images/productBrowsing_pbShapeB_6.png);
}

.svcB-3-3 {
    background-image: url(../images/productBrowsing_pbShapeB_5-1.png);
}

.svcB-3-4 {
    background-image: url(../images/productBrowsing_pbShapeB_6-1.png);
}

.svcC-1 {
    background-image: url(../images/productBrowsing_pbShapeC_1.png);
}

.svcC-1-2 {
    background-image: url(../images/productBrowsing_pbShapeC_1_1.png);
}

.svcC-2 {
    background-image: url(../images/productBrowsing_pbShapeC_2.png);
}

.svcC-2-1 {
    background-image: url(../images/productBrowsing_pbShapeC_2_1.png);
}

.svcC-3 {
    background-image: url(../images/productBrowsing_pbShapeC_3.png);
}

.svcC-3-1 {
    background-image: url(../images/productBrowsing_pbShapeC_3_1.png);
}
.page-exit {
    animation: fadeOut 0.5s forwards;
}
