/* 內容 */
/* 9/4 add my Aria */
main {
  overflow: hidden;
}

/* footer區 */
footer {
  background-color: var(--Darkblue);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
  width: 100%;
  height: 170px;
  /* position: fixed;
  z-index: 999; */
}

.pricePlaneFooter {
  background-color: var(--Blue);
}


.footerList {
  display: flex;

}

.footerItem {
  padding-right: 80px;
  font-size: 18px;
}

.footerItem li {
  padding-top: 8px;
  font-size: 12px;
}

.footerItem li:first-child {
  padding-top: 24px;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer div small {
  padding-top: 12px;
}

/* footer區 */

@media (max-width:820px) {
  footer {
    padding: 0px 56px;
  }

  .footerItem {
    padding-right: 40px;
  }

  .footerItem li:first-child {
    padding-top: 16px;
  }
}

@media (max-width:820px) {
  #pricepage .box_list {
    flex-direction: column;
    height: 33.5vh;
  }

  .box_list .title2 {
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: center;
    padding: 10% 10%;
    font-size: 38px;
    letter-spacing: .2rem;
  }

  .box_list .content {
    align-items: center;
    padding: 0px 80px;
    bottom: 40px;
    width: 100%;
  }
}
@media (width < 840px)  {
  .footerList li{
      font-size: 20px;
      letter-spacing: 0.06rem;
  }
  .footerItem li{
      font-size: 16px;
      letter-spacing: 0.06rem;
  }
  footer div figure img {
    width: 100%;
}
}

/* 訂製流程頁面 */
/* Customization process */

#content {
  width: 100%;
  height: 100vh;
  background-color: var(--Darkblue);
  display: flex;
  flex-direction: column;
  padding: 80px 80px 0 80px;
  justify-content: center;
}

.englishtitle {
  position: relative;

}

.box {
  position: relative;
  z-index: 2;
  width: fit-content;
}

.chinsestitle {
  padding: 68px 70px 12px 60px;

  position: absolute;
  z-index: -1;
  right: 10%;
  top: 3%;
  align-items: flex-end;
}

/* Customization process 圖 */
.process__box__list {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.process__box__list .process_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px 0 0;
  width: 330px;
  position: relative;
}

.process__box__list .process_item:last-child {
  margin: 0;
}


.process__box__list .content {
  font-size: 18px;
  letter-spacing: .12rem;
  width: fit-content;
  text-align: center;

}

.process_item {
  border: 1px solid var(--Lightblue);
  /* border-image-slice: 1;
  border-image-source: linear-gradient(var(--Lightbluevar-Darkblue)); */
  border-radius: 0 30px 0 0;
  background-image: linear-gradient(-136deg, #55C9EA 0%, #000E2B 60%);
  height: 200px;
  object-fit: cover;
  align-items: center
}

.stepIcom {
  width: 60%;
  height: 50%;
  margin: 0 0 8px 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon_1 {
  background-image: url(../images/icon/stepicon2-02.svg);
}

.icon_2 {
  background-image: url(../images/icon/stepicon1-01.svg);
}

.icon_3 {
  background-image: url(../images/icon/stepicon3-03.svg);
}

.icon_4 {
  background-image: url(../images/icon/stepicon4--04.svg);
}

.icon_5 {
  background-image: url(../images/icon/stepicon5-05.svg);
}

.icon_6 {
  background-image: url(../images/icon/stepicon6-06.svg);
}





/* 当屏幕宽度小于或等于820px时，每行显示两张图片 */
@media (max-width: 820px) {

  #content .Introduction {
    margin: 0;
    justify-content: space-around
  }



  .englishtitle h2 {
    font-size: 40px;
  }

  .chinsestitle {
    left: 233px;

  }

  .process__box__list {
    display: flex;
    flex-wrap: wrap;
    /* 确保子元素可以换行 */
    justify-content: center;
    /* 中央对齐图片 */
    margin: 50px 20px;
    /* 可以调整边距以适应屏幕宽度 */
    gap: 20px;
    /* 可选：设置图片之间的间隙 */
  }

  .process_item {
    flex: 1 1 calc(50% - 20px);
    /* 每行显示两张图片 */
    max-width: calc(50% - 20px);
    /* 确保不会超出容器宽度 */
    box-sizing: border-box;
  }

  .process__box__list .process_item {
    margin: 0;
  }

  .process_item img {
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(var(--Lightbluevar-Darkblue));
    border-radius: 0 30px 0 0;
    background-image: linear-gradient(-136deg, #55c9ea, #000E2B);
    height: 200px;
    object-fit: cover;
  }

  .process__box__list .content {
    font-size: 16px;
    /* 可选：调整字体大小以适应屏幕 */
    bottom: 20px;
    /* 可选：调整底部位置 */
  }

  .button {
    border-width: 1px;
    /* 在手机上将边框宽度变窄 */
    border-image-source: linear-gradient(120deg, var(--ToRight-White-Orange));
    /* 保持渐变效果 */
    border-image-slice: 1;
    width: 200px;
    /* 缩小按钮的宽度 */
    height: 40px;
    /* 缩小按钮的高度 */
    margin: 0 auto 30px auto;
    /* 调整下边距 */
  }

  .button a {
    font-size: 16px;
    /* 调整字体大小 */
  }


}

/* Dimensions */

#Dimensions_content {
  padding: 0 80px;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: var(--Darkblue);
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#Dimensions_content .Dimensions_Introduction {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: 19vh;
}

.DEBOX {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Dimensions_englishtitle {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;

}

.Dimensions_chinsestitle {
  padding-left: 60px;
  padding-right: 70px;
  padding-bottom: 12px;
  padding-top: 68px;
  font-size: 20px;
  position: absolute;
  z-index: -1;
  right: 50%;
  transform: translateX(50%);
  white-space: nowrap;
  top: -25%;
  align-items: flex-end;
}

.Dimensions_chinsestitle::before,
.chinsestitle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 40px;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, var(--Orange-Darkblue));
  transform: skew(-40deg);
  z-index: -1;
}

.Dimensions_chinsestitle h4 {
  letter-spacing: .12rem;
  color: #ffffff;
}

/* Dimensions圖 */
.Dimensions__box__list {
  display: flex;
  margin: 50px 0 0 0;
  justify-content: space-between;
  align-items: center;


}

.Dimensions__box__list .size-1 {
  object-fit: cover;
  margin: 0 20px 0 0;
  width: 50%;
  position: relative;
}

.textBox {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 50;
  display: flex;
}

.t-shirttext {
  width: 63%;
  position: relative;
  margin: 0 2.5% 0 0;
}

.shorttext {
  width: 37%;
  position: relative;
}

.t_width,
.t_height,
.s_width,
.s_height,
.s_sideways {
  position: absolute;
}

.t_width {
  right: 38%;
  top: 25%;
}

.t_height {
  writing-mode: vertical-lr;
  top: 47%;
  left: 41%;
}

.s_width {
  right: 50%;
  top: 5%;
  transform: translateX(50%);
}

.s_height {
  right: 35%;
  writing-mode: vertical-lr;
  top: 47%;
}

.Dimensions__box__list .size-1 figure {
  width: 100%;
  height: 100%;
  position: absolute;
}



.sizetext {
  align-items: center;
  font-size: 18px;
  text-align: center;
  margin: 30px 0 0 0;
}

.sizetext p {
  letter-spacing: .12rem;
}

.symbol_sizetext::before {
  content: "*";

}

@media (max-width:820px) {

  .Dimensions__box__list {
    padding: 50px 40px 0px 40px;

  }

  .Dimensions_englishtitle h2 {
    font-size: 40px;
  }

  .Dimensions_chinsestitle {
    padding-left: 49px;
    padding-right: 59px;
    padding-bottom: 7px;
    padding-top: 69px;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    right: 196px;
    top: 30px;
    align-items: flex-end;
  }

  .sizetext {
    align-items: center;
    font-size: 14px;
    margin: 40px 40px;
  }

  .Dimensions__box__list {
    flex-wrap: wrap;
  }

  .Dimensions__box__list .size-1 {
    margin: 10px;
  }

  .Dimensions__box__list .size-2 {
    gap: 10px;
  }
  

}



/* Precautions*/

#Precautions_content {
  width: 100%;
  height: 100vh;
  background-color: var(--Darkblue);
  display: flex;
  flex-direction: column;
  padding: 0 80px;
  justify-content: center;
}

#Precautions_content .Precautions_Introduction {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
  flex-wrap: wrap;
}

.Precautions_Introduction .chinsestitle {

  position: absolute;
  z-index: 1;

  top: -25%;
  align-items: flex-end;
  white-space: nowrap;
}


/* Precautions 圖 */

.Precautions__box__list {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px auto 0;
}

@media (max-width:820px) {

  #Precautions_content .Precautions_Introduction {
    margin: 0;
    justify-content: space-around
  }
  .Precautions_Introduction .chinsestitle {
    left: 209px;

  }
}

/* 1006_sandy */
/* 文字區 */
.englishtitle h2,
.Dimensions_englishtitle h2 {
  font-family: ROGFonts, sans-serif;
  width: fit-content;
  font-size: 3.5vw;
  letter-spacing: .2rem;
  line-height: 4vw;
  color: #ffffff;
}


.chinsestitle h4,
.Dimensions_chinsestitle h4 {
  font-size: 1.5vw;
  letter-spacing: .1rem;
  line-height: 1.5vw;
  color: #ffffff;

}

.content p {
  font-size: 1.25vw;
  letter-spacing: 0.08rem;
  white-space: nowrap;
}

.sizetext p {
  font-size: 1.25vw;
  letter-spacing: 0.08rem;
}

.button a {
  font-size: 1.25vw;
  letter-spacing: 0.08rem;
  padding: 20px 40px 20px 40px;
  color: var(--Darkblue);

}

.buttonBOX {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  letter-spacing: 0.08rem;
  width: 100%;
  justify-content: center;
  margin: 0 0 20px;
}

.button {
  width: 32%;
  height: fit-content;
  position: relative;
  border: none;
  color: #000E2B;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  background-color: #FEB75D;
}

.button a {
  position: relative;
  z-index: 100;
}

.button:before,
.button:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.button:before {
  transform: translate3d(-100%, 0, 0);
  background-color: #FFFFFF;
  transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.button:after {
  background-color: #287DA2;
  transform: translate3d(100%, 0, 0);
  transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
}

.button:hover:before {
  transform: translate3d(0, 0, 0);
}

.button:hover:after {
  transform: translate3d(0, 0, 0);
}

/* 表格 */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 10px 0 10px 0;
  text-align: center;

}

.tr1 {
  height: 40px;
  color: #fff;
  border: .75px solid FFFFFF;
}

.tr2 {
  height: 40px;
}

table,
th,
td {
  border: 1px solid #fff;
  /* 给表格、表头和表格单元格添加边框 */
}

th,
td {
  font-weight: 400;
  font-size: 1.25vw;
}

.Dimensions__box__list .size-2 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 50%;
  color: #FFFFFF;
}
.Dimensions__box__list .size-2_RWD{
  display: none;
}

span {
  font-size: 1.25vw;
  letter-spacing: 0.08rem;
}

/* JQ ui _sandy1007 */
/* 大框調整設定 */
.ui-widget.ui-widget-content {
  border: none;
  width: 100%;
}

.ui-widget-content {
  background: transparent;
  color: #FFFFFF;
}

/* 頁籤調整設定 */
.ui-tabs .ui-tabs-nav {
  display: flex;
}

.ui-widget-header {
  background: transparent;
  border: none;
}

.ui-tabs .ui-tabs-nav {
  padding: 0 0 0 0;
}

/* 單頁籤調整 */
.ui-tabs .ui-tabs-nav li {
  margin: 1px 0 0 0;
  width: 25%;
  display: flex;
  justify-content: center;
}

.ui-tabs .ui-tabs-nav li:nth-child(1) {
  border-left: 1px solid #FFFFFF;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  background: transparent;
  border: 1px solid #FFFFFF;
  border-left: none;
  color: #FFFFFF;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 15px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 15px;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
  color: #FFFFFF;
}

/* 被點選頁籤 */
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  background-image: linear-gradient(-90deg, #55C9EA 0%, #000E2B 70%);
}

/* 頁面內文區 */
.ui-tabs .ui-tabs-panel {
  border: 1px solid #FFFFFF;
  height: 50vh;
  padding: 40px;

}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 15px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 15px;
}

/* 頁籤文字設定 */
.ui-widget {
  font-size: 1.25vw;
  letter-spacing: 0.08rem;
}

.numbered-paragraph {
  position: relative;
  padding-top: 15px;
  padding-left: 1.5vw;
  /* 為了容納數字而增加左邊距 */
  width: 100%;
}

.numbered-paragraph::before {
  content: counter(paragraph-counter) ".";
  /* 添加計數器和點號 */
  counter-increment: paragraph-counter;
  /* 增加計數 */
  position: absolute;
  left: 0;
  /* 數字顯示在段落左側 */
  top: 0;
  padding-top: 15px;
}

#tabs-1,
#tabs-2,
#tabs-3 {
  counter-reset: paragraph-counter;
  /* 初始化計數器 */
}


.highlight-red {
  height: 1vw;
  /* background-color: var(--Orange); */
  border-bottom: 1px solid var(--Orange);
  color: #FFF;
  /* 文字顏色設為白色，以提高可讀性 */
  padding: 0px 0px 2px 0px;
  /* 添加左右一點內距以提升視覺效果 */
  margin: 0 1px;
}

.numberedBOX {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.jerseyRegulation,
.goodsRegulation {
  width: 95%;
  margin: 10px 0 0 0;
}

.numberedBOX .numbered-paragraph {
  width: 20%;
}

.tabsBox {
  overflow: auto;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tabs-3 .tabsBox {
  justify-content: center;
}

.goodsRegulation th {
  width: 100px;
}

.moneyIcon {
  width: 100%;
  height: 5vw;
  background-color: #FEB75D;
  display: flex;
}

.mIcon {
  width: 20%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.M_line {
  background-image: url(../images/icon/line.svg);
}

.M_visa {
  background-image: url(../images/icon/visa\ .svg);
}


/* 滾動條 */
/* 滾動條底 */
/* 滾動條按鈕方框 */

.tabsBox::-webkit-scrollbar-button {
  background-color: #FFFFFF;

}

.tabsBox::-webkit-scrollbar-thumb {
  background-color: var(--Orange);
}

.washAndSaveBox {
  display: flex;
  width: 100%;
}

.washAndSave {
  width: 50%;
  border: 1px solid;
  margin-left: 40px;
  padding: 20px 40px;

}

.washAndSave:nth-child(1) {
  margin-left: 0px;
}

.tabsBox .numbered-paragraph:nth-child(1) {
  padding-top: 0px;
}

.numbered-paragraph:nth-child(1)::before {
  padding-top: 0px;
}

.bordertaxt {
  border-bottom: 1px solid #FFF;
  padding: 0 0 5px 0;
}

/* sandy_訂製說明RWD */
@media(width < 840px) {

  /* 文字  */
  .englishtitle h2,
  .Dimensions_englishtitle h2 {
    font-size: 45px;
    line-height: 1.1;
  }

  .chinsestitle h4,
  .Dimensions_chinsestitle h4 {
    font-size: 20px;
    line-height: 1.4;
    white-space: nowrap;
  }

  .content p,
  .button a,
  span,
  th,
  td,
  .sizetext p,
  .ui-widget {
    font-size: 18px;
  }

  /* 內容區 */
  .ui-corner-all,
  .ui-corner-bottom,
  .ui-corner-left,
  .ui-corner-bl {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px
  }

  /* 訂製流程 */
  #content {
    padding: 40px 10% 40px 10%;
  }

  .Customization {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #Precautions_content .chinsestitle {
    right: auto;
  }

  .englishtitle {
    display: flex;
    justify-content: center;
  }

  .Precautions__box__list {
    margin: 70px auto 0;
  }

  .process__box__list .process_item {
    width: 320px;
    margin: 0 20px 30px 0;
  }

  .process__box__list .process_item:nth-child(even) {
    margin: 0 0 30px 0;
  }

  .process__box__list .process_item:nth-child(5) {
    margin: 0 20px 0 0
  }

  .process__box__list .process_item:nth-child(6) {
    margin: 0 0 0 0
  }

  .process__box__list {
    flex-wrap: wrap;
  }

  .button {
    width: 70%;
    margin: 0;
  }

  .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background-image: linear-gradient(180deg, #55C9EA 0%, #000E2B 70%);
  }

  /* 尺寸測量 */
  #Dimensions_content {
    padding: 0 10%;
    height: 100vh;
  }

  .Dimensions__box__list {
    flex-direction: column;
    margin: 70px 0 0 0;
  }

  .Dimensions__box__list .size-1 {
    width: 90%;
    margin: 0 0 10px 0;
  }

  .Dimensions__box__list .size-2 {
    width: 100%;
  }

  /* 注意事項 */
  #Precautions_content {
    padding: 0 10%;
  }

  .ui-tabs .ui-tabs-panel {
    height: 75vh;
  }

  .ui-widget.ui-widget-content {
    display: flex;
  }

  .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    writing-mode: vertical-lr;
    letter-spacing: 0.2rem;
    padding: 0 15px;
  }

  .ui-tabs .ui-tabs-nav {
    flex-direction: column;
    align-items: flex-end;
  }

  .ui-tabs .ui-tabs-nav li {
    width: 100%;
    height: 20%;
    border-left: 1px solid;
    border-right: none;
    text-align: center;
  }

  .ui-tabs .ui-tabs-nav li:nth-child(6) {
    border-bottom: 1px solid;
  }

  .ui-corner-all,
  .ui-corner-top,
  .ui-corner-right,
  .ui-corner-tr {
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
  }
}

@media (width<640px) {

  /* 文字 */
  .englishtitle h2,
  .Dimensions_englishtitle h2 {
    font-size: 30px;
  }

  /* 訂購說明 */
  #content {
    padding: 0 10%;
    justify-content: flex-start;
    height: 750px;
  }

  .Customization {
    margin: 60px 0 0 0;
  }

  .process__box__list {
    gap: 0px;
    margin: 30px 0 10px;
  }

  .process__box__list .process_item {
    height: 150px;
  }

  .chinsestitle {
    left: auto;
    padding: 68px 60px 8px 50px;
    right: -3%;
    top: -46%;
  }

  .process__box__list .process_item {
    margin: 0 15px 20px 0;
    height: 140px;
  }

  .process__box__list .process_item:nth-child(even) {
    margin: 0 0 20px 0;
  }

  .stepIcom {
    margin: 0 0 5px 0;
  }

  .button a {
    white-space: nowrap;
    padding: 16px 40px 16px 40px;
  }

  /* 尺寸測量 */
  #Dimensions_content{
    height: 850px;
    justify-content: flex-start;
  }
  .Dimensions__box__list {
    padding: 0 0 0 0;
    margin: 50px 0 0 0;
  }

  .Dimensions__box__list .size-1 {
    width: 100%;
  }

  .Dimensions_chinsestitle {
    padding-left: 60px;
    padding-right: 50px;
    padding-bottom: 8px;
    padding-top: 40px;
    top: -5px;
    right: 50%;
  }

  .sizetext {
    margin: 0 0;
  }

  .t_width {
    right: 28%;
    top: 18%;
  }

  .t_height {
    left: 35%;
  }

  .s_width {
    top: -3%;
  }

  .s_height {
    right: 23%;
  }
  .Dimensions__box__list .size-2,
  .Dimensions__box__list .size-1 {
    display: none;
  }
  .Dimensions__box__list .size-2_RWD{
    display: block; /* 顯示區塊 */
  }
  .sizeMune{
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
  }
  .sizeMune p{
    margin: 0 10px ;
    font-size: 18px;
    letter-spacing: 0.08rem;
    border-bottom: 1px solid;
    padding: 0 1px 3px 1px;
  }
  .sizeMune p:hover,
  .sizeMune p:focus{
    color: var(--Orange);
  }
  .sizeMune_Timg,.sizeMune_Simg{
    width: 100%;
    height: 280px;
  }
  .sizeMune_Timg,.sizeMune_Simg{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 0 20px 0 ;
    position: relative;
  }
  .t_width_RWD, .t_height_RWD,.s_width_RWD,.s_height_RWD{
    position: absolute;
  }
  .t_width_RWD{
    right: 33%;
    top: 23%;
  }
  .t_height_RWD,  .s_height_RWD{
    writing-mode: vertical-lr;
    right: 52%;
    top: 47%;
  }
  .s_width_RWD{
    right: 50%;
    transform: translateX(50%);
  }
  .sizeMune_Timg{
    background-image: url(../images/Customization/SIZE_T.svg);
  }
  .sizeMune_Simg{
    background-image: url(../images/Customization/SIZE_S.svg);
  }
  .sizetext p{
    font-size: 16px;
    text-align: left;
    position: relative;
    padding-left: 15px;
  }
  .symbol_sizetext::before {
    content: "*";
    position: absolute;
    left: 0;
    padding: 0 5px 0 0;
}
/* 注意事項 */
.Precautions_Introduction .chinsestitle {
  left: auto;
}
#Precautions_content .chinsestitle {
  padding: 45px 45px 8px 50px;;}
  .ui-tabs .ui-tabs-nav .ui-tabs-anchor{
    writing-mode:horizontal-tb;
    letter-spacing: 0.08rem;
  }
  .ui-widget.ui-widget-content{
    flex-direction: column;
  }
  .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 8px 0px;
  }
  .ui-tabs .ui-tabs-nav li {
    border-right:1px solid ;
  }
  .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-bottom-left-radius:0px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
  }
  #Precautions_content {
    height: 730px;
    justify-content: flex-start;
  }
  #Precautions_content .Customization {
    margin: 0 0 0 0;
  }
  .Precautions__box__list {
    margin: 50px 0 0 0 ;
    width: 100%;
  }
  .ui-tabs .ui-tabs-panel{
    height: 350px;
    padding: 20px;
  }
  .ui-tabs .ui-tabs-nav li:nth-child(6){
    border-bottom:none;
  }
  .ui-tabs .ui-tabs-nav li:nth-child(1){
    border-top-left-radius:15px;
    border-top-right-radius:15px;
  }
  .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{
    border-top-right-radius:0px;
    border-bottom-left-radius:15px;
  }
  .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background-image: linear-gradient(90deg, #55C9EA 0%, #000E2B 70%);
}

}